body{
    margin: 0;
    padding: 0;
}

.b-page{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.b-table{
    margin-top: 98px;
    width: 100%;
    overflow: hidden;
    display:table;
    float: left;
    min-width: 620px;

    /*border-collapse: collapse;*/
}

.b-table .b-head{
    max-width: 1000px;
    width: 100%;
    position: fixed;
    min-width: 620px;
    height: 89px;
    top: 0;
    z-index: 3;
    background: #00acdb;
    display: table-row-group;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.b-table .b-body
{
    position: relative;
    top: 89px;
    display: table-row-group;
    background: linear-gradient(
        to bottom,
        #fff,
        #fff 50%,
        #E6E6E6 50%,
        #E6E6E6
    );
    /* The rectangle in which to repeat.
       It can be fully wide in this case */
    background-size: 100% 224px;
}

.b-table .b-head__rowcustom{
    position: relative;
    left: 44%;
    display: inline;
    color:#fff;
}
.b-table .b-head__rowcustom .b-filter{  padding: 10px 0 10px 0;}
.b-table .b-head__rowcustom .b-filter div{float: left;}
.b-table .b-head__row{
    height: 59px;
    background: #00acdb;
    margin-top: 10px;
    border-top: 1px solid #c4c4c4;
    -webkit-box-shadow: -1px -12px 15px -6px rgba(0,0,0,0.26);
    -moz-box-shadow: -1px -12px 15px -6px rgba(0,0,0,0.26);
    box-shadow: -1px -12px 15px -6px rgba(0,0,0,0.26);

    float: left;
    width: 100%;
}
.b-table .b-body__row, .b-table .b-head__row
{
     display:table-row;
    color: #000000;
    text-decoration: none;
 
}
.b-table .b-table__cell{
    display:table-cell;
    text-align: center;
    vertical-align: middle;
}
.b-table .b-head__separator
{
    position: absolute;
    right: -1px;
    border: 1px dotted green;
    height: 43px;
    top: 7px;
}
.b-table .b-head .b-table__cell{text-align: center; color: #fff; padding-top: 8px;}
.b-table .b-body .b-table__cell{border: 1px solid #cccccc;height: 110px}
.b-table .b-body__row:hover {
    background-color: #ffa;
}

.b-table .b-body__row .b-table__cell, .b-table .b-head__row .b-table__cell {
    position: relative;
}
.b-table .b-body__row .b-table__cell:hover::after {
    content: "";
    position: absolute;
    background-color: #ffa !important;
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: 1;
}

.b-table .b-body__text
{
    z-index: 2;
    position: relative;
    padding: 10px 0 10px 0;
    width: 100%;
}



.b-popup {position:absolute; top:0; left:-500em}
.b-popup:target {position:relative; left:0; height: 100%;z-index: 5}

.b-popup__box {
    background:#00acdb;

    /* alternatively fixed width / height and negative margins from 50% */
    position:absolute; left:30%; right:30%; top:30%; bottom:30%;

    z-index:3;
    /* padding:1%; removed 17/07/2012 */
    border:1px solid #00acdb;
    min-height: 300px;
    min-width: 300px;
    /* CSS3 rounded corners, drop-shadow and opacity fade in */
    -moz-border-radius:12px;
    border-radius:12px;
    -webkit-box-shadow:2px 2px 4px #3a3a3a;
    -moz-box-shadow:2px 2px 4px #3a3a3a;
    box-shadow:2px 2px 4px #3a3a3a;
    opacity:0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
:target .b-popup__box {position:fixed; opacity:1;}
.b-popup__box .b-popup__container .b-popup__content
{
    min-width: 280px;
    min-height: 200px;
    background: #fff;
    padding: 10px;
    color: #000;
}
.b-popup__box .b-popup__container h2,.b-popup__box .b-popup__container h3 {
    color: #fff;
    text-align: center;
    padding-top: 10px;
    margin: 0;
}
.b-popup__box:hover {box-shadow:3px 3px 6px #5a5a5a;}
.b-popup__table{
    display: table;
    min-width: 280px;
    width: 100%;
}
.b-popup__table .b-popup__row
{
    display: table-row;
}
.b-popup__table .b-popup__cell
{
    width: 60%;
    display: table-cell;
    border-bottom: 1px solid;
    padding: 5px 0 5px 0px;
    font-size: 13px;
}

.b-popup__table .b-popup__cell:first-child
{
    width: 40%;
}
.lightbox {display:none; text-indent:-200em; background:#000; opacity:0.4; width:100%; height:100%; position:fixed; top:0; left:0; bottom:0; right:0;}
:target .lightbox {display:block}
.close {
    position:absolute; top:-0.75em; right:-0.75em; display:block; width:1em; height:1em;
    font:bold large/1 arial, sans-serif; text-align:center; text-decoration:none;
    background:#000; border:3px solid #fff; color:#fff;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    -moz-box-shadow: 0 0 1px 1px #3a3a3a;
    -webkit-box-shadow: 0 0 1px 1px #3a3a3a;
    box-shadow: 0 0 1px 1px #3a3a3a;
}
.close:before {content:"X"}
.close:hover {box-shadow:0 0 1px 1px #c00; background:#c00;}
.close span {text-indent:-200em; display:block;}

.b-table__col_1{width: 16%}
.b-table__col_2{width: 120px}
.b-table__col_3{width: 12%}
.b-filter .b-filter__label{
    text-indent: 20px;
    background: url(http://farm3.static.flickr.com/2793/5839457953_1690178a65_o.png) no-repeat;
    display: block;
    width: 100px;
    height: 18px;
}
input[type="checkbox"] {display: none;}
input[name="out"]:checked ~ .b-page .b-filter__out .b-filter__label, input[name="in"]:checked ~ .b-page .b-filter__in .b-filter__label{
    background:url(http://farm6.static.flickr.com/5182/5840005274_b3bcc52bb1_o.png) no-repeat;
}

input[name="out"]:checked  + input[name="in"]:not(:checked) ~ .b-page .b-table .b-body .departure-in{
    display: none;
}


input[name="out"]:not(:checked) + input[name="in"]:checked ~ .b-page .b-table .b-body .departure-out{
    display: none;
}

@media only screen and (min-width:801px) and (max-width:900px){
    .b-body__text__hide_900{display:none;}
}

@media only screen and (min-width:701px) and (max-width:800px){
    .b-body__text__hide_900, .b-body__text__hide_800{display:none;}
}


@media only screen and (min-width:601px) and (max-width:700px){
    .b-body__text__hide_900, .b-body__text__hide_800,.b-body__text__hide_700{display:none;}
}

@media only screen and (min-width:501px) and (max-width:600px){
    .b-body__text__hide_900, .b-body__text__hide_800,.b-body__text__hide_700,.b-body__text__hide_600{display:none;}
}


